html, body, #root {
  width: 100%;
  height: 100%;
  min-height: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.OTPublisherContainer {
  position: absolute;
  width: 300px !important;
  height: 200px !important;
  overflow: hidden;
  z-index: 1;
  left: 0px;
  border: 10px solid black;
  box-sizing: border-box;
}

.OTSubscriberContainer {
  position: absolute;
  width: 300px !important;
  height: 200px !important;
  border: 10px solid red;
  box-sizing: border-box;
  top: 200px;
  left: 0px;
}
